ul
  list-style: none
  padding: 0
  margin: 0

body
  font-family: 'Montserrat', sans-serif
  font-size: 14px
  font-weight: 600
  margin: 0

.circle
  width: 15px
  height: 15px
  margin-left: 0
  border-radius: 50%
  background: transparent
  border: 7px solid #fff

a
  text-decoration: none
  color: inherit