.footer
  height: 320px
  border-top: 1px solid $light-gray
  .container
    height: 100%
    display: flex
    justify-content: space-around
    color: lighten($gray, 20)
    font-size: 12px
    font-weight: 700
    font-family: Montserrat
    .column-wrapper
      margin-top: 40px
      .middle-column
        margin-top: 50px
      .right-column
        margin-top: 45px

.footer
  a
    transition: .2s
    &:hover
      color: #313131

.left-column
  display: flex
  flex-direction: column
  justify-content: stretch
  .cities
    margin-top: 30px
    .city
      .name
      .addresses
        margin-top: 20px
        font-family: "PT Serif"

.middle-column
  .title
    font-weight: 700
  .social-links
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: 20px
    .link-wrapper
      padding-top: 5px
    .link
      padding-top: 5px
      
.right-column
  display: flex
  flex-direction: column
  justify-content: center
  .title
    font-weight: 700

